[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Fernando Martín (Fermartyni)
	owner = group user/guillermoegea
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Fernando Martín (Fermartyni)
	label-Code-Review = -2..+2 group user/guillermoegea
	label-Verified = -1..+1 group user/Fernando Martín (Fermartyni)
	label-Verified = -1..+1 group user/guillermoegea
	push = group user/Fernando Martín (Fermartyni)
	push = group user/guillermoegea
	read = group user/Fernando Martín (Fermartyni)
	read = group user/guillermoegea
	rebase = group user/Fernando Martín (Fermartyni)
	rebase = group user/guillermoegea
	removeReviewer = group user/Fernando Martín (Fermartyni)
	removeReviewer = group user/guillermoegea
	submit = group user/Fernando Martín (Fermartyni)
	submit = group user/guillermoegea
[access "refs/heads/*"]
	create = group user/Fernando Martín (Fermartyni)
	create = group user/guillermoegea
	push = +force group user/Fernando Martín (Fermartyni)
	push = group user/guillermoegea
	pushMerge = group user/Fernando Martín (Fermartyni)
	pushMerge = group user/guillermoegea
	read = group user/Fernando Martín (Fermartyni)
	read = group user/guillermoegea
[access "refs/tags/*"]
	push = group user/Fernando Martín (Fermartyni)
	push = +force group user/Fernando Martín (Fermartyni)
	push = group user/guillermoegea
[receive]
	requireChangeId = true
